*{
    margin: 0;
    padding:0;
}

div{
    display: block;
}
ul{
    margin:0;
    padding:0;
    list-style: none;
}
a{
    text-decoration: none;
    color: #00A862;
}
body {
    color: rgba(0, 0, 0, 0.87);
    font-size: 16px;
    font-size: 1.6rem;
    font-weight: 400;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 0.4px;
    font-family: "Gotham", Helvetica, Arial, PingFangSC-Regular, "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
html{
    font-size:62.5%; !important;
}
/*main开始*/
.main{
    background: #FFF;
    position: fixed;
    top:0;
    bottom:0;
    width: 30%;
    left:0;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.12);
    z-index:100;
}
.container{
    overflow: hidden;
}
.container{
    height: 100%;
    width: 100%;
}

/*header开始*/
.header{
    height: 48px;
    padding: 24px;
}
.nav{
    float:left;
    margin-right: 12px;
    width: 36px;
}
.nav img{
    width: 36px;
}
.primary{
    overflow: hidden;
    display: inline-block;
}
.primary ul li {
    float:left;
}
.primary ul li a{
    color:inherit;
    font-weight: 700;
    font-size:16px;
    font-size:1.6rem;
    padding: 6px 10px 5px;
    display: block;
    letter-spacing: 1px;
}
.trigger{
    float:right;
    padding: 6px 0;
}
/*header结束*/

/*body开始*/
.h-body{
    height: calc(100% - 98px);
    display: table;
    width: 100%;
}
.middle{
    padding: 0 24px 0 84px;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    min-height: 62px;
}
.middle-header{
    margin-bottom: 24px;
}
.middle-span1{
    font-weight: 700;
    font-size: 26px;
    font-size:2.6rem;
}
.fidder{
    overflow: hidden;
}
.fidder .sign{
    float: left;
    margin-right:24px;
    padding: 5px 0;
}
.fidder a img{
    margin-top: -3px;
    vertical-align: middle;
}


.button {
    background: none;
    border: 1px solid #00A862;
    border-radius: 48px;
    box-sizing: border-box;
    color: #00A862;
    display: inline-block;
    font-weight: 500;
    padding: 5px 14px;
    position: relative;
}
/*.button:after {
    background: rgba(0, 168, 98, 0.12);
    border-radius: 100%;
    content: '';
    height: 6px;
    left: 50%;
    opacity: 0;
    position: absolute;
    transform-origin: 50% 50%;
    transform: scale(1, 1) translate(-50%);
    top: 50%;
    width: 6px;
}*/
/*body结束*/

/*overlay开始*/
.overlay{
    /*overflow-y: scroll;*/
    overflow-y: auto;
    box-sizing: border-box;
    height: 100%;
    position: fixed;
    top:0;
    bottom:0;
    width: 30%;
    left:0;
    opacity: 0;
    background: #FFF;
    transition: all 0.1s linear;
    visibility: hidden;
    /*overflow-x: hidden;*/
    transform: scale(1.2);
}


.overlay .body {
    clear: both;
    margin: 0 auto;
    width: 100%;
    display: table-row;
    height: 100%;

}
.icon-shanchu{
    float:right;
    font-size:40px;
    font-size:4rem;
    color: #b3b3b3;
    display: block;
    margin-top:-3px;
}
.overlay .body .middle{
    overflow: hidden;
    box-sizing: border-box;
}
.container-1{
    display: table;
}

.table {
    width: 100%;
}
.table li a{
    color: inherit;
    display: block;
    padding: 8px 0;
    font-weight: 700;
    font-size: 1.8rem;
}
.table li hr{
    margin-bottom: 12px;
    margin-top: 12px;
    background: rgba(0, 0, 0, 0.12);
    border: 0;
    height: 1px;
    width: 100%;
}
.footer{
    width: 100%;
    color: rgba(0, 0, 0, 0.12);
    margin-top:12px;
}
.footer a{
    color: rgba(0, 0, 0, 0.38);
    font-size:1.4rem;
}
.footer .container{
    margin: 0 24px 24px 84px;
}
.legal a{
    /*font-size:9px;*/
    font-size:0.9rem;

}
.active{
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}
/*overlay结束*/


/*main结束*/


/*box开始*/
.box{
    width: 70%;
    margin-left: 30%;
    height: 1500px;
    background: #f7f7f7;
}

/*轮播图开始*/

.tag_ad{
    background: #000;
    opacity: 0.6;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 0 6px;
    color: #fff;
    font-size: 14px;
    border-radius: 2px;
    z-index: 10;
}
.hero{
    position: relative;
    overflow: hidden;
}
.hero ul{
    width: 400%;
    left:0;
    overflow: hidden;
}
.hero ul li img:nth-child(1){
    display: block;
}
.hero ul li img:nth-child(2){
    display: none;
}
.hero li {
    float:left;
    width: 25%;
}
.hero li img{
    width: 100%;
}
.right{
    position: absolute;
    z-index: 10;
    top:50%;
    right:16px;
    margin-top:-30px;
    transition: all 0.2s ease;
}
.right:hover{
    transform: translateX(5px);
}
.icon-xiangyou{
    font-size:50px;
    font-weight: 400;
    color:#FFFFFF;
}
/*轮播图结束*/

/*promotion开始*/

.wrapper {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    max-width: 768px;
    width: 100%;
}

.promotion{
    width:100%;
    padding:12px 0;
}
.promotion .grid{
    margin:0 -12px;
    overflow: hidden;
}
.promotion .wrapper{
    padding:0 24px;
    max-width: 100%;
}
.grid-a{
    box-sizing: border-box;
    margin:0;
    padding:12px;
    width: 33%;
    float:left;
    transition: all 0.2s ease;
}
.grid-a img{
    width: 100%;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.12);
    border-radius: 2px;
}
.grid-a:hover{
    transform: translateY(-5px);
}
.grid-a img:hover{
    box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.12);
}

/*promotion结束*/

/*promotion-msr开始*/
.program-msr{
    background-color: #FFF;
}
.program-msr .wrapper{
    padding-left: 24px;
    padding-right: 24px;
}
.program-msr .grid{
    position: relative;
    list-style: none;
    padding: 0;
    overflow: hidden;

}
.image-left{
    width: 50%;
    padding:36px 0;
    float:left;
}
.image-left h2{
    margin-bottom: 18px;
    font-size:2.2rem;
    font-weight: 400;
}
.image-left .light{
    color: rgba(0, 0, 0, 0.56);
    margin: 0 0 24px;
}
.image-left .light .more{
    color: #C2A661;
    padding:8px 0;
    border-color: transparent;
}
.spe{
    padding: 8px 18px;
}
.image{
    position: static;
    float:left;
}
.image img{
    height: 72px;
    top: 50%;
    position: absolute;
    margin-top: -36px;
    right: 0;
    transform: translate3d(0, 0, 0);
}
/*promotion-msr结束*/


/*tmall开始*/
.tmall{
    padding-top: 36px;
    padding-bottom: 36px;
}
.center{
    text-align: center
}
.tmall h2{
    /*margin-bottom: 18px;*/
    font-size: 2.2rem;
    font-weight: 400;
    color: #000;
    margin: 0 0 24px;
}
.tmall .light{
    color: rgba(0, 0, 0, 0.56);
    margin: 0 0 24px;
}
.tmall ul{
    padding-top: 48px !important;
    overflow: hidden;
    margin:12px;
}
.tmall ul li{
    padding: 12px !important;
    width: 25%;
    box-sizing: border-box;
    float:left;
}
.tmall ul li a{
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    position: relative;
    padding: 0 6px;
    text-align: center;
    width: 100%;
    transition: all 0.2s ease;
}
.tmall ul li a:hover{
    transform: translateY(-5px);
    box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.12);

}
.tmall ul li a img{

    margin-top: -36px;
    height: 72px;
}
.tmall ul li:nth-child(1) a img{
    margin-top: -48px;
    height: 108px;
    margin-bottom: -24px;
}


.tmall a p{
    font-size: 1.4rem;
}
.tmall a .title-1{
    font-size: 1.6rem;
    color: rgba(0, 0, 0, 0.87);
    line-height: 150%;
    margin: 8px 0 ;
    padding:0;
}
.tmall a .margin2{
    color: rgba(0, 0, 0, 0.56) !important;
    margin-bottom: 18px;
    line-height: 200%;
}
.tmall ul li a .caption {
    line-height: 170%;
    font-size: 1.2rem;
    box-sizing: content-box;
    color: #C2A661;
    font-weight: 400;
    opacity: 0.7;
    text-transform: none;
    padding:0 0 24px;

}
/*tmall结束*/


/*coffeehouse开始*/
.coffeehouse{
    background-image: linear-gradient(-180deg, #FCFCFC 0%, #FFF 100%);
    padding: 36px 0 36px 0;
    margin-bottom: -24px;
}
.coffeehouse .wrapper{
    padding-left: 24px;

}
.coffeehouse .wrapper h2{
    margin-bottom: 18px;
    font-size: 2.2rem;
    font-weight: 400;
    color: #000;
}
.coffeehouse .light{
    color: rgba(0, 0, 0, 0.56);
    margin: 0 0 24px;
}
.scroll-wrapper{
    position: relative;
    overflow: hidden;
}
.scroll{
    padding-bottom: 24px;
    margin-right:60px;
    box-sizing: border-box;
    margin-bottom:-24px;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y:hidden;
}
.scroll-items{
    width: 100%;
    display: table;
    transition: all 1s ease;
    transform: translateX(0);
}
.scroll-items a{
    width: 288px;
    box-sizing: border-box;
    display: inline-block;
    margin-right: 16px;
    color: inherit;
    margin-top: 12px;
    margin-bottom: 12px;
    background: #FFF;
    border-radius: 2px;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.12);
    overflow: hidden;
    position: relative;
    padding: 18px;
    transition: all 0.2s ease;
}
.scroll-items a:hover{
    transform: translateY(-5px);
    box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.12);
}
.preview{
    margin-top:-18px;
    margin-left: -19px;
    height: 168px;
    width: calc(100% + 38px);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    display: inline-block;
}
.scroll-items .tag{
    font-size: 1.4rem;
    background: #C2A661;
    color: #FFF;
    position: absolute;
    padding: 7px 12px;
    left: 0;
    top: 6px;
}
.scroll-items strong{
    font-weight: normal;
    text-align: left;
    margin-top:11px;
    display: block;
    margin-bottom:4px;
}
.scroll-left ,.scroll-right{
    position: absolute;
    top:50%;
    margin-top:-14.4px;
    background: #ffff;
    border-radius: 50%;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.12);
    height: 28.8px;
    width: 28.8px;
    text-align: center;
    line-height: 28.8px;
    z-index: 10;
}
.scroll-left{
    left:24px;
    display: none;
}
.scroll-right{
    right:24px;
}
.scroll-right img{
    margin: 5px auto;
    width: 18px;
}
.scroll-left img{
    margin: 5px auto;
    width: 18px;
}
.primary-mobile{
    background: #f7f7f7;
    display: none;
    position: fixed;
    bottom:0;
    left:0;
    width: 100%;
    transition: all 0.1s linear;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.12);
}
.primary-mobile ul{
    overflow: hidden;
    width: 100%;
}
.primary-mobile ul li{
    text-align: center;
    width: 20%;
    float:left;
}
.primary-mobile a{
    color: rgba(0, 0, 0, 0.56);
    display: block;
    padding:6px 4px;
}
.primary-mobile ul li a div{
    line-height: 1;
    font-size: 1.2rem;
}
.primary-mobile .iconfont{
    display: block;
    height: 28px;
    margin-bottom: 3px;
    pointer-events: none;
    position: relative;
    width: 100%;
    font-size:2.6rem;
}
.primary-mobile ul li .active{
    color: #00A862;
}
/*coffehouse结束*/
/*box结束*/



/*动画1024开始*/
@media (max-width: 1024px) and (min-width: 641px){
    .main{
        background: #FFF;
        box-sizing: border-box;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.12);
        position: relative;
        width: 100%;
    }
    .main .container .header {
        padding: 16px;
    }
    .h-body .middle{
        padding: 0 16px 0 16px;
    }
    .middle-header{
        margin-bottom: 16px;
    }
    .h-body .fidder{
        margin: 0;
        width: 100%;
        height: auto;
    }
    .h-body .fidder a{
        margin-bottom: 12px;
    }
    .overlay{
        width: 100%;
        overflow-x: hidden;
    }
    .box{
        width:100%;
        margin-left: 0;
    }
    .image-left h2{
        padding-left: 24px;
        padding-right: 24px;
        margin-bottom: 12px;
    }

}
@media (max-width: 640px) {
    .main{
        background: #FFF;
        box-sizing: border-box;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.12);
        position: relative;
        width: 100%;
    }
    .main .container .header {
        display:none;
    }
    .h-body .middle{
        padding: 16px 16px 0 16px;
    }
    .h-body .fidder{
        display: none;
    }
    .middle-header{
        margin-bottom: 16px;
    }
    .middle-span1{
        font-size: 22px;
    }

    /*box*/
    .box{
        width:100%;
        margin-left: 0;
    }
    .hero ul li img:nth-child(1){
        display: none;
    }
    .hero ul li img:nth-child(2){
        display: block;
    }
    .grid-a:hover{
        transform: none;
    }
    .grid-a{
        width: 100%;
    }
    .image-left{
        padding-top: 24px;
        padding-bottom: 0;
        box-sizing: border-box;
        clear: none;
        float: left;
        width: 100%;
        text-align: center;
    }
    .image{
        width: 100%;
        height: 160px;
        padding-bottom: 24px;
        text-align: center;
        box-sizing: border-box;
    }
    .image img{
        position: relative;
    }
    .image-left h2{
        margin-bottom: 12px;
        font-size: 2rem;
    }

    /*tmall*/
    .tmall{
        background: #f7f7f7;
    }
    .tmall .wrapper{
        padding-left: 16px;
        padding-right: 16px;
    }
    .tmall h2{
        padding-left: 24px;
        padding-right: 24px;
        margin-bottom: 12px;
    }
    .tmall .light{
        padding-left: 24px;
        padding-right: 24px;
    }
    .tmall ul li{
        width: 50%;
    }
    .tmall ul li a:hover{
        transform: none;

    }
    .tmall ul li:nth-child(1){
        margin-bottom: 48px;
    }
    .tmall ul li:nth-child(2n+1){
        clear: left;
    }

    /*coffenhouse*/
    .coffeehouse{
        padding-bottom: 100px;
    }
    .coffeehouse .wrapper{
        padding-left: 16px;
        padding-right: 16px;
    }
    .coffeehouse h2{
        padding-left: 24px;
        padding-right: 24px;
        margin-bottom: 12px;
    }
    .coffeehouse .light{
        padding-left: 24px;
        padding-right: 24px;
    }
    .scroll .wrapper{
        display: table;
        padding-right: 0px;
    }
    .scroll-items{
        width: 1073px;
    }
    .scroll-items a{
        width: 252px;
    }
    .scroll-items a:hover{
        transform: none;
    }
    .preview{
        height: 144px;
    }

    .primary-mobile{
        display: block;
    }

}
/*动画1024结束*/















